body {background: darkred;}

.header{background: grey}
.header__logo{color:darkred; float:left;; display: block; padding:20px;}
.header__menu{float:right; margin: 0; padding: 0;}
.header__menu__item{display:inline-block;}
.header__menu__item a{color: black; border: 2px solid blanchedalmond; display: block; padding:10px;}
.header__menu__item a:hover{background: blanchedalmond;}

.header__icon-bar{display:block;float:right; padding:20px;}
.header__icon-bar span{display: block;height:3px; width: 30px; background: blanchedalmond; margin-bottom: 5px;}



.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */